replicaCount: 1

image:
  repository: sanjaypramod/nodejs-latest
  pullPolicy: Always
  tag: "v1.76"

service:
  type: NodePort
  port: 5000

env:
  PORT: 5000
  MONGODB_URI: "mongodb+srv://sanjaypramodp:n9rhDEPCUq5Sln4P@cluster0.qgn6t.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"
